<h1>Купленные купоны</h1>

<table>
  <tr>
    <th>Акция</th>
    <th>Куплен</th>

    <th></th>
  </tr>

<% @akupons.each do |akupon| %>
  <tr>
    <td><%= akupon.promotion.title %></td>
    <td><%= akupon.purchase %></td>
    <td><%= link_to 'Подробнее', akupon %></td>
  </tr>
<% end %>
</table>

